@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: #F7F7F7;
}

/* navbar styling start */
.navigation {
    max-width: 1160px;
    margin: 0 auto 18px;
    padding: 20px 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 60px;
}
.logo-text {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 380px;
    gap: 32px;
    margin: 0 auto;
}
.nav ul li {
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
}
.nav-btn {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    max-width: 197px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.nav-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(254, 163, 1);
    border: 1px solid rgb(254, 163, 1);
}
.fa-bars {
    display: none;
}

/* navbar styling end */



/* header-container styling start */

.header-container {
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    max-width: 640px;
}

.header-title {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.header-description {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}
.header-btn {
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.header-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    border: 1px solid rgb(17, 17, 17);
}

/* header-container styling end */


/* curriculum section start */

.curriculum {
    background: url("assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 60px 0px;
    margin-bottom: 80px;
}

.curriculum-heading {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.curriculum-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28.29px;
}

.curriculum-card-1 {
    max-width: 367.8px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    transition: 0.5s;
}

.curriculum-card-2 {
    max-width: 367.8px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    transition: 0.5s;
}

.curriculum-card-3 {
    max-width: 367.8px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    transition: 0.5s;
}
.curriculum-card-1:hover, .curriculum-card-2:hover, .curriculum-card-3:hover {
    border: 1px solid rgb(254, 163, 1);
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.card-title {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
    text-align: center;
    margin: 32px 0px;
}

.card-description {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 38px;
}
.read {
    text-decoration: none;
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
}

.arrow {
    max-width: 130px;
    margin: 0 auto 60px;
}

.left, .right {
    width: 60px;
    height: 60px;
    background-color: rgb(254, 163, 1);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.left:hover {
    transform: translateX(-5px);
    background-color: rgba(254, 161, 1, 0.699);
}
.right:hover {
    transform: translateX(5px);
    background-color: rgba(254, 161, 1, 0.699);
}
.aro {
    color: rgb(255, 255, 255);
    font-size: 24px;
}


/* stories section start styling */

.stories-section {
    height: 898px;
    background: url("assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stories {
    max-width: 1160px;
    margin: 0 auto;
    padding: 60px 0;
}

.stories-header {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.story-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-big {
    grid-column: span 2;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 540.27px;
    transition: 0.3s;
}
.card-big img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.story-1-content {
    padding: 20px;
}
.story-1-content .date {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 15px 30px;
    position: relative;
    top: -30px;
    cursor: pointer;
}

.story-1-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}

.story-1-description {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    margin-top: 50px;
}

.card-small {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 290px;
    transition: 0.4s;
}

.small-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-small img {
    width: 100%;
    object-fit: cover;
}

.small-card-content {
    padding: 20px;
}

.small-card-content .date {
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    top: -30px;
    padding: 10px 15px;
    cursor: pointer;
}

.small-card-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 700;
}
.card-big:hover, .card-small:hover {
    transform: scale(1.02);
}